    <footer id="footer">
      <div class="container footer-container">
        <div class="requisites">
          <div class="column column1">
            <p>
              ООО "ББК-Пром" зарегистрировано в Едином государственном регистре
              юридических лиц и индивидуальных предпринимателей (ЕГР)
              свидетельство о государственной регистрации коммерческой
              организаци выдано Минским райисполкомом от 20.08.2013г. №0071239
            </p>
            Юр. адрес: г.Минск, ул. Владислава Сырокомли, 12, пом. 3Н
            <p>Телефоны для связи:</p>
            <p>+375 (29) 170 20 01</p>
            <p>+375 (17) 370 20 34</p>
            <p>+375 (29) 370 20 49 (факс)</p>
            <p>Время работы: пн-пт 08:00 - 17:00</p>
          </div>
          <div class="column column2">
            <p>IBAN: BY50POIS30120146614101933001</p>
            <p>В ОАО «Паритетбанк» БИК: POISBY2X</p>
            <p>220002, г. Минск, ул. Киселёва, 61а</p>
            <p>УНП 691590036</p>
            <p>Директор - Черняк Александр Евгеньевич</p>
            <p><br /><br /></p>
            <p>Электронная почта::</p>
            <a href="mailto:bbk-prom@yandex.com">bbk-prom@yandex.com</a><br />
            <a href="mailto:bbk.prom.servis@gmail.com"
              >bbk.prom.servis@gmail.com</a
            >
          </div>
        </div>
        <p class="end">
          2013-<span class="year"></span> ББК-Пром - инсталляция и обслуживание
          медицинского оборудования<br />
          создание сайта
          <a href="https://sweet-ka.github.io/cv/">@SviatlanaS</a>
        </p>
      </div>
      <script>
        document.querySelector(".year").textContent = new Date().getFullYear();
      </script>  
    </footer>