<a class="logo" href="/#">
  <div class="logo-bbk bbk">
    <span class="logo-abbr abbr">ББК</span
    ><span class="logo-prom prom">-Пр</span
    ><span class="logo-O O">O</span
    ><span class="logo-prom prom">м</span>
  </div>
</a>
