<div class="overlay-navigation">
  <nav role="navigation">
    <ul>
      <li><a href="/#" data-content="">На главную</a></li>
      <li><a href="/#services" data-content="">Услуги</a></li>
      <li><a href="/#brands" data-content="">Оборудование</a></li>
      <li><a href="/#contacts" data-content="">Контакты</a></li>
    </ul>
  </nav>
</div>
