<div class="panel right-panel">
  <div class="network">
    <a class="network-item map" href="/#contacts">
      <%- include('../svg/map_svg.ejs') %>
    </a>
  </div>
  <a class="mail" href="message">
    <%- include('../svg/mail_svg.ejs') %>
  </a>
</div>
