.menu-burger {
    position: fixed;
    top: calc(50% - 43px);
    left: 20px;
    z-index: 9999;
}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
  }
  .burger {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
    margin: 30px auto;
  }
  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #000;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
  }
  .burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
    background-color: #fff;
  }
  .burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
    background-color: #fff;
  }
  .burger-checkbox:checked + .burger-mobile::before {
    background-color: #000;
  }
  .burger-checkbox:checked + .burger-mobile::after {
    background-color: #000;
  }


/* ====================================
Navigation 
==================================== */

.overlay-navigation {
  position: fixed;
  display: flex;
  z-index: 1200;
  top: 0;
  left: 0px;
  width: 50%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.8);
  transform: translateX(-100%);
}

.overlay-slide-down {
  transition: all .4s ease-in-out;
  transform: translateX(0)
}

.overlay-slide-up {
  transition: all .8s ease-in-out;
  transform: translateX(-100%)
}

nav,
nav ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  align-self: center;
  height: 50%;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

nav ul li {
  flex-basis: 20%;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  transform: translateY(-100%);
}

nav li a {
  position: relative;
  top: 46%;
  color: #fff;
  text-transform: uppercase;
  /* font-family: 'Work sans', sans-serif; */
  font-weight: 300;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.9rem;
}

nav li a:before {
  content: '';
  width: 70px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 80px;
  z-index: 100;
  transform: translateX(-100%);
  opacity: 0;
  transition: all .2s linear;
}

nav li a:after {
  content: attr(data-content);
  font-size: 0.7rem;
  transition: all .2s linear;
  opacity: 0;
  position: absolute;
  z-index: 100;
  color: #fff;
  display: block;
  margin-right: auto;
  margin-left: auto;
  left: 80px;
  right: 0;
  bottom: -50px;
  text-transform: none;
  font-family: 'Open sans', serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0;
}

nav li a:hover:before {
  transform: translateX(0);
  opacity: 1;
}

nav li a:hover:after {
  transform: translateX(15px);
  opacity: 1;
}

/* nav li:nth-of-type(1){background-color: #29363B}
nav li:nth-of-type(2){background-color: #EA495F}
nav li:nth-of-type(3){background-color: #F4837D}
nav li:nth-of-type(4){background-color: #FDCEA9}
nav li:nth-of-type(5){background-color: #99B998} */

.slide-in-nav-item {
  animation: slide-in-nav-item 0.2s linear 1 0.1s both;
}

.slide-in-nav-item-delay-1 {
  animation: slide-in-nav-item 0.2s linear 1 .2s both;
}

.slide-in-nav-item-delay-2 {
  animation: slide-in-nav-item 0.2s linear 1 .3s both;
}

.slide-in-nav-item-delay-3 {
  animation: slide-in-nav-item 0.2s linear 1 .4s both;
}

.slide-in-nav-item-delay-4 {
  animation: slide-in-nav-item 0.2s linear 1 .5s both;
}

.slide-in-nav-item-reverse {
  animation: slide-in-nav-item-reverse .2s linear 1 .5s both;
}

.slide-in-nav-item-delay-1-reverse {
  animation: slide-in-nav-item-reverse .2s linear 1 .4s both;
}

.slide-in-nav-item-delay-2-reverse {
  animation: slide-in-nav-item-reverse .2s linear 1 .3s both;
}

.slide-in-nav-item-delay-3-reverse {
  animation: slide-in-nav-item-reverse .2s linear 1 .2s both;
}

.slide-in-nav-item-delay-4-reverse {
  animation: slide-in-nav-item-reverse .2s linear 1 both;
}


/* ====================================
Animation keyframes
==================================== */

@keyframes slide-in-nav-item {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@keyframes slide-in-nav-item-reverse {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}

@keyframes animate-top-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px)
  }
  80% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
    background-color: #fff
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    background-color: #29363B;
  }
}

@keyframes animate-bottom-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px)
  }
  80% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
    background-color: #fff;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    background-color: #29363B;
  }
}

@keyframes animate-middle-bar {
  0% {
    background-color: #fff;
  }
  80% {
    background-color: #fff;
  }
  100% {
    background-color: #29363B;
  }
}

@keyframes animate-out-top-bar {
  0% {
    background-color: #29363B
  }
  50% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px)
  }
  80% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
    background-color: #29363B
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    background-color: #FFF;
  }
}

@keyframes animate-out-bottom-bar {
  0% {
    background-color: #29363B
  }
  50% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px)
  }
  80% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
    background-color: #29363B;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    background-color: #FFF;
  }
}

@keyframes animate-out-middle-bar {
  0% {
    background-color: #29363B
  }
  80% {
    background-color: #29363B;
  }
  100% {
    background-color: #fff;
  }
}
.home a{
  font-family: "Work Sans", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  z-index: 10;
  top:50px;
  left:50px;
  padding-bottom: 3px;
  border-bottom: 1px solid #fff;
}
@media (max-width: 640px) {
  nav ul li a {
    font-size: 11px;
  }
  nav li a:after {
    font-size: 0.6rem;
  }
  .open-overlay {
    right: 1rem;
  }
  nav li a:before {
    width: 15px;
  }
}