.message-back .logo {
  background-color: #fff;
  border-radius: 2px;
}

.message-main {
  width: 100%;
  padding-top: 110px;
  position: relative;
}

.message-cons {
  display: flex;
  align-items: flex-end;
}

.message-back-bbk,
.message-back-prom {
  position: absolute;
    font-size: 10em;
    font-weight: 900;
    color: #F2F2F2;
    text-transform: uppercase!important;
    z-index: -1;
}

.message-back-bbk {
  top: 0;
}

.message-back-prom {
  right: 0;
  top: 14%;
  font-weight: 400;
}

.message-main h2 {
  font-weight: 900;
  font-size: 3em;
  margin: 0;
}

.contact-block {
  margin-top: 50px;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.inner {
  display: flex;
  justify-content: flex-start;
}

.inner a {
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
  font-weight: 700;
}

.col-name {
  margin: 20px 0;
}

.input-wrap {
  margin: 0;
  height: 40px;
}

.input-message-wrap {
  height: 170px;
}

.inputs,
.message-contacts {
  text-transform: uppercase;
}

.input-name,
.input-email,
.input-phone, 
.input-message {
  border-radius: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #333;
  border: none;
  border-bottom: 1px solid #9da4ab;
  outline: none;
  margin-bottom: 10px;
}

.submit-wrap {
  position: relative;
  width: max-content;
}

.form-submit {
  background: #53a4c6;
  color: #fff;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  text-align: center;
  z-index: 1;
  border-radius: 0;
  width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: .2s;
}

.form-submit:hover {
  box-shadow: 0 0 15px #53a4c6;
}

.spinner {
  box-sizing: border-box;
  visibility: hidden;
  display: inline-block;
  background-color: #53a5c7;
  opacity: .75;
  width: 30px;
  height: 30px;
  border: solid 6px transparent;
  border-radius: 100%;
  padding: 0;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  z-index: 100;
}

.spinner::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: -6px;
  left: -6px;
  width: 30px;
  height: 30px;
  border-width: 6px;
  border-style: dotted;
  border-color:  #fbfbfc #fbfbfc #fbfbfc transparent;
  border-radius: 50%;
  transform-origin: center center;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.ok-window {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  max-width: 300px;
  height: 0;
  position: fixed;
  color: #ffffff;
  left: calc(50% - 150px);
  top: calc(50vh - 100px);
  background-color: #53a4c6;
  text-align: center;
  border-radius: 5px;
  z-index: 9999;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.ok-window button {
  align-self: center;
  width: 25%;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  height: 25px;
  color: #737373;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(7, 63, 107, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(7, 63, 107, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(7, 63, 107, 0.2);
}

.ok-window button:hover {
  transform: scale(1.1);
  transform-origin: center center;
  transition: tratsform 0.2s lihear;
}

.empty {
  border: solid 0.5px red;
  border-radius: 2px;
  position: relative;
}

.empty::before {
  content: 'это поле обязательно для заполнения';
  color: red;
  font-size: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes ok-view {
  from {
    height: 0;
    top: calc(50vh - 0px);
  }
  to {
    height: 200px;
    top: calc(50vh - 100px);
  }
}

@keyframes ok-not-view {
  from {
    height: 200px;
    top: calc(50vh - 100px);
  }
  to {
    height: 0;
    top: calc(50vh - 0px);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1080px) {
  .inner {
    font-size: 0.7em;
  }
}

@media (max-width: 680px) {
  .row {
    flex-direction: column;
  }
}

@media (max-width: 448px) {
  .message-back-bbk,
  .message-back-prom {
    display: none;
  }

  .message-main {
    padding-top: 50px;
  }
}

@media (max-width: 380px) {
  .message-main h2 {
    font-size: 2em;
  }

  .ok-window {
    width: 200px;
    left: calc(50% - 100px);
  }
}
