@import url('/styles/menu.css');
@font-face {
    font-family: Montserrat;
    src: url('/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: Montserrat-Italic;
    src: url('/assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}

* {
    font-family: Montserrat;
    font-weight: 900;
}

section {
    height: 100vh;
}

.container {
    width: calc(100% - 160px);
    margin: 0 auto;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    height: 55px;
    background: url('/assets/images/logo/logo.png') center center no-repeat;
    background-size: cover;

}

.panel {
    width: 80px;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.left-panel {
    border-right: solid 1px #7392ab;
    left: 0;
}

.right-panel {
    border-left: solid 1px #7392ab;
    right: 0;
}