@import url('/styles/menu.css');
@font-face {
    font-family: Montserrat;
    src: url('/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: Montserrat-Italic;
    src: url('/assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: TT-Norms;
    src: url('/assets/fonts/TT-Norms/TTNorms-Medium.otf')
}

@font-face {
    font-family: Urbanist;
    src: url('/assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf')
}

* {
    font-family: Montserrat;
}

body {
    margin: 0;
}

.back {
    width: 100vw;
    height: 100vh;
    background: url('/assets/images/back/Rectangle.jpeg') 40% center no-repeat;
    background-size: cover;
}

section {
    height: 100vh;
}

.container {
    width: calc(100% - 180px);
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

header {
    position: fixed;
    width: 100%;
    /* backdrop-filter: blur(10px); */
    z-index: 100;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.bbk,
.O {
    font-size: 4.5em;
    font-family: TT-Norms;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    line-height: 1;
    color: #53a4c6;
}

.bbk * {
    align-self: center;
    letter-spacing: -6px;
}

.bbk .abbr{
    font-weight: 800;
    color: #27427c;
}

.O {
    font-family: Urbanist;
    font-size: 1.4em;
    font-weight: 200;
    background: url('/assets/images/logo/rrr.svg') 0.13em center no-repeat;
    background-size: 0.5em;
}

.logo-bbk {
    font-size: 2.5em;
}

.logo-bbk * {
    letter-spacing: -4px;
}

.phone {
    right: 80px;
    transition: color 0.2s linear;
    font-size: 1.3em;
    font-weight: 900;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.phone:hover {
    color: #53a4c6;
}

.mobile-header {
    display: none;
}

.mobile-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
}

.icon-wrap {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.mobile-header .phone {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0;
}

.mobile-header .phone,
.mobile-header .mail {
    display: flex;
    justify-content: center;
    flex: 1 1 0px;
}

.mobile-header .phone svg {
    width: 70%;
    height: 100%;
}

.mobile-header .mail {
    position: relative;
    border: none;
    height: 80px;
}

.menu-burger-mobile,
.burger-mobile {
    position: relative;
    left: 0;
}

.menu-burger-mobile {
    flex: 1 1 0px;
}

.panel {
    width: 80px;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.left-panel {
    border-right: solid 1px #7392ab;
    left: 0;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-name: left-move;
    transition: left 3s ease-in 6s,border .2s ease-in 0s;
}

.right-panel {
    border-left: solid 1px #7392ab;
    right: 0;
    animation-name: right-move;
    transition: right 3s ease-in 6s,border .3s ease-in 0s;
}

.left-panel::before,
.right-panel::before {
    opacity: 1;
    width: 0%;
    height: 100%;
    transition-timing-function: ease-in;
    transition-duration: .3s;
    position: absolute;
    background: #fff;
    content: '';
}

.right-panel:before {
    right: 0;
    z-index: -1;
}

.left-panel::before {
    left: 0;
}

.left-panel.dark:before, .right-panel.dark:before {
    width: 100%;
}

.right-panel:hover::before {
    animation-name: right-move;
}

.left-panel:hover::before {
    animation-name: left-move;
}

@keyframes right-move {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

@keyframes left-move {
    0% {
        left: -100%;
    }
    
    100% {
        left: 0;
    }
}

.network {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.network-item {
    width: 30px;
    height: 30px;
}

.mail {
    width: 80px;
    height: 200px;
    position: absolute;
    top: calc(50% - 100px);
    text-align: center;
    border-top: solid 1px #7392ab;
    border-bottom: solid 1px #7392ab;
}


.network-item svg,
.mail svg {
    width: 100%;
    height: 100%;
    fill: #000;
    transition: fill 0.2s linear;
    cursor: pointer;
}

.mail svg {
    width: 70%;
}

.network-item svg:hover,
.mail svg:hover {
    fill: #53a4c6;
}

.main {
    width: 100%;
    text-align: center;
    margin-top: -50px;
    padding: 0 5px;
}

.main p {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    font-weight: 600;
    margin-top: 25px;
    backdrop-filter: blur(3px);
    border-radius: 10%;
}

.down-btn {
    width: 50px;
    margin: 50px auto 0;
    fill: #27427c;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.down-btn:hover {
    animation: none;
}
    
@keyframes pulse {
    from { transform: scale(1); }
    50% { transform: scale(0.85); }
    to { transform: scale(1); }
}

@media (max-width: 680px) {
    .panel {
        display: none;
    }

    header {
        display: none;
    }

    .mobile-header {
        display: block;
    }

    .container {
        width: 98%;
        padding: 0;
    }

    .overlay-navigation {
        width: 70%;
    }

    .mobile-header .mail svg,
    .mobile-header .phone svg {
        max-width: 50px;
    }

}

@media (max-width: 450px) {
    .main {
        font-size: 0.9em;
    }
    .logo {
        font-size: 0.8em;
    }
}

@media (max-width: 400px) {
    .main {
        font-size: 0.8em;
    }
    .bbk * {
        letter-spacing: -5px;
    }
}

@media (max-width: 350px) {
    .bbk {
        font-size: 3.5em;
    }
    .logo-bbk {
        font-size: 2em;
    }
    .bbk * {
        letter-spacing: -4px;
    }
}

@media (max-width: 300px) {
    .bbk {
        font-size: 2.5em;
    }
    .logo-bbk {
        font-size: 1em;
    }
    .burger-mobile {
        width: 30px;
    }
    .bbk * {
        letter-spacing: 0;
    }
}
